.tables{
    width: 100%;
    display: flex;
    background: url('../../assets/Media/Images/dashboard.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 935px;
    z-index: -1;
    backdrop-filter: blur(272px); 
    /* position: relative; */
}

.main-column{
    width: 100%;
    /* background-color: antiquewhite; */
}

.top-bar {
    margin-left: 15px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .p-span{
    display: flex;
    gap: 5px;
  }
  
  .p-span p{
    color: #E2E8F04D;
  }
  
  .left {
    color: white;
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
  }
  
  .search-container {
    position: relative;
    width: 170px;
    color: white;
  }
  
  .search-container input[type="search"] {
    width: 100%;
    padding: 8px 8px 8px 35px;
    border-radius: 15px !important;
    border: 1px solid #E2E8F04D;
    font-size: 14px;
    height: 34px;
    background: none;
  }
  
  .search-container input[type="search"]:focus {
    border: 1px solid #E2E8F04D;
    outline: none;
  }
  
  .search-container .search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .sign-in-text {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #E2E8F04D;
  }
  
  .right img {
    height: 18px;
    width: 18px;
    object-fit: contain;
  }

  .container1{
    width: 97%;
    height: 76.5vh;
    margin-left: 15px;
    margin-top: 20px;
  }

  .container2{
    width: 97%;
    height: 63.5vh;
    margin-left: 15px;
    margin-top: 15px;
  }

.footer-div{
  width: 98%;
  margin-left: 10px;
  margin-top: 25px;
}