.tables{
    width: 100%;
    display: flex;
    background: url('../../assets/Media/Images/profile.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 935px;
    z-index: -1;
    
}

.main-column{
    width: 100%;
}

  .container1{
    width: 97%;
    height: 76.5vh;
    margin-left: 15px;
    margin-top: 20px;
  }

  .container2{
    width: 97%;
    height: 63.5vh;
    margin-left: 15px;
    margin-top: 15px;
  }

.footer-div{
  width: 98%;
  margin-left: 10px;
  margin-top: 25px;
}