.billing{
    width: 100%;
    display: flex;
    display: flex;
    background: url('../../assets/Media/Images/dashboard.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 935px;
    z-index: -1;
    /* overflow-x: hidden; */
    backdrop-filter: blur(272px); 
    /* position: relative; */
}

.sidebar-column{
    width: 16.6%;
    /* background-color: rgb(16, 121, 121); */
}

 .main-column{
    width: 83.4%;
    /* background-color: rgb(61, 117, 239); */
}


  .top-box{
    width: 100%;
    height: 62.5vh;
    margin-top: 20px;
    padding-left: 15px;
    display: flex;
  }

  .topBox-left{
    width: 60%;
    margin-right: 15px;
    height: 342px;
  }

  .topBox-right{
    width: 40%;
    height: 60vh;
    margin-right: 15px;
  }

  .top-upper1{
    display: flex;
  }

  .topBox-1{
    width: 49%;
    height: 34.5vh;
  }

  .topBox-2{
    width: 48.5%;
    height: 34.5vh;
    margin-left: 15px;
  }

  .bottom-box1{
    margin-top: 15px;
    width: 100%;
    height: 22.8vh;
  }

  .bottom-boxA{
    width: 100%;
    height: 450px;
    margin-top: 15px;
    padding-left: 15px;
    display: flex;
  }

  .bottom-1{
    width: 61.5%;
    margin-right: 15px;
    height: 450px;
  }


  .bottom-2{
    width: 38.5%;
    height: 450px;
    margin-right: 15px;
  }

  