
.profile-background {
    background: url('../../assets/Media/Images/dashboard.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1000px;
    top: -170px;
    z-index: -1;
    backdrop-filter: blur(272px); 
  }

.profile{
    display: flex;
    width: 100%;
    overflow-x: hidden;

  }


.sidebar-col{
    width: 16.6%;
}

.profile-col{
    width: 83.4%;
}

.navmanu{
    width: 1020px;
    height: 80px;
    margin-left: 15px;
    border-radius: 20px;
    background: linear-gradient(112.83deg, rgba(6, 11, 40, 0.94) 0%, rgba(10, 14, 35, 0.62) 110.84%);

}

.top-dives{
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.first-col{
    width: 23%;
    height: 250px;
    background: url('../../assets/Media/Images/prof.png') no-repeat center center;
    background-size: cover;
    top: 0;
    border-radius: 20px;
    color: white;
}

.top-class{
    margin-left: 20px;
    margin-top: 25px;
}

.bottom-class{
    margin-left: 20px;
    margin-top: 140px;
}

.second-col{
    width: 42.5%;
    height: 250px;
    background: linear-gradient(120.78deg, rgba(6, 11, 40, 0.94) 17.44%, rgba(10, 14, 35, 0.49) 93.55%, rgba(10, 14, 35, 0.69) 99.55%);
    border-radius: 20px;
    margin-left: 15px;
}

.content{
    color: white;
    margin-left: 20px;
    margin-top: 14px;
}


.progress-div{
   
    display: flex;
}

.left-side1{
    width: 35%;
}

.right-side1{
    width: 65%;
    height: 197px;
}

.top-2{
    display: flex;
    width: 100%;
    margin-top: 22px;
}

.fst-col{
    width: 45%;
    height: 50px;
    border-radius: 14px;
    background: linear-gradient(126.97deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.5) 91.2%);
}

.scd-col{
    width: 45%;
    margin-left: 15px;
    height: 50px;
    border-radius: 14px;
    background: linear-gradient(126.97deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.5) 91.2%);
}

.bottom-2{
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.botom-l{
    width: 45%;
    height: 50px;
    border-radius: 14px;
    background: linear-gradient(126.97deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.5) 91.2%);
}

.botom-r{
    width: 45%;
    height: 50px;
    margin-left: 15px;
    border-radius: 14px;
    background: linear-gradient(126.97deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.5) 91.2%);
}

.s400{
    margin-top: 12px;
    margin-left: 10px;
}

.s400 p{
    color: #A0AEC0;
    font-size: 8px;
}

.s400 h6{
    color: white;
    font-size: 12px;
}

.lofi{
    margin-left: 15px;
    margin-top: 15px;
}


.third-col{
    width: 30%;
    height: 250px;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
    backdrop-filter: blur(120px);
    border-radius: 20px;
    margin-left: 15px;
}

.last-col{
    width: 100%;
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.last-col1{
    width: 22.7%;
    height: 340px;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
    border-radius: 20px;
}

.last-col2{
    width: 73%;
    height: 340px;
    margin-left: 15px;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%);
    border-radius: 20px;
}